mcp[cli]
pyzotero
PyPDF2
fastapi
uvicorn
python-multipart
requests
python-dateutil
pdfminer.six
httpx
jsonschema
asyncstdlib
sse-starlette
markdown
jinja2
pillow
typing_extensions
packaging
starlette
websockets
orjson
pydantic
pydantic-settings
pyyaml
cryptography
bson
motor
pymongo
tqdm
colorama
rich
loguru
python-dotenv
psutil
opencv-python
numpy
scipy
matplotlib
seaborn
pandas
sqlalchemy
alembic
pytest
pytest-asyncio
pytest-cov
coverage
mypy
black
isort
flake8
pre-commit
docker
kubernetes
boto3
botocore
google-cloud-storage
azure-storage-blob
tenacity
sentinel
marshmallow
marshmallow-enum
marshmallow-sqlalchemy
apispec
swagger-ui-bundle
gunicorn
dotenv
click
werkzeug
itsdangerous
jinja2
MarkupSafe
Werkzeug
Flask
flask-cors
flask-marshmallow
flask-sqlalchemy
flask-migrate
flask-jwt-extended
flask-restful
flask-login
flask-wtf
flask-mail
flask-admin
flask-security-too
flask-session
flask-debugtoolbar
flask-testing
flask-caching
flask-limiter
flask-compress
flask-talisman
flask-trusted-host
flask-sitemapper
flask-flatpages
flask-frozen
flask-assets
flask-script
flask-mongoengine
flask-pymongo
flask-socketio
eventlet
socketio
python-engineio
python-socketio
redis
rq
celery
flower
flower-client
flower-api
flower-ui
kombu
amqp
billiard
vine
django
djangorestframework
channels
channels-redis
asgiref
pytz
whitenoise
gunicorn
collectfast
django-storages
boto3
botocore
google-cloud-storage
azure-storage-blob
django-environ
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-guardian
django-haystack
django-polymorphic
django-taggit
django-ckeditor
django-ckeditor-5
django-allauth
django-crispy-forms
crispy-forms-gds
crispy-forms-bootstrap5
crispy-forms-foundation
crispy-forms-materialize
crispy-forms-uikit
crispy-forms
django-countries
django-phonenumber-field
phonenumberslite
django-postgres-copy
psycopg2-binary
dj-database-url
django-sslserver
django-silk
django-ses
django-anymail
django-sendgrid-v5
mailchimp3
sendinblue
twilio
stripe
paypalrestsdk
braintree
square
awscli
azcopy
gsutil
docker-compose
kubctl
helm
terraform
ansible
salt
fabric
paramiko
bcrypt
cryptography
pycryptodome
pyjwt
oauthlib
requests-oauthlib
social-auth-app-django
social-auth-core
openid-connect
pyoidc
keycloak
auth0
firebase-admin
google-auth
azure-identity
boto3
botocore
amazoncaptcha
amazon-paapi
ebaysdk
shopify
magento
woocommerce
prestashop
oscar
openerp
odoo
zope.interface
setuptools
wheel
pip
virtualenv
tox
nox
poetry
pipenv
conda
mamba
npm
yarn
pnpm
eslint
prettier
stylelint
jest
mocha
chai
sinon
enzyme
testing-library
cypress
playwright
puppeteer
nightwatch
protractor
jasmine
istanbul
coveralls
codecov
snyk
dependabot
renovate
husky
lint-staged
commitlint
standard-version
semantic-release
conventional-changelog
cz-conventional-changelog
cz-customizable
pre-commit-hooks
pretty-format
ansi-escapes
argparse
asttokens
async-timeout
attrs
babel
backcall
beautifulsoup4
bleach
blinker
certifi
cffi
chardet
click
cloudpickle
colorama
comm
concurrent
configparser
contextlib2
coverage
cycler
cytoolz
dataclasses
dateparser
decorator
defusedxml
diff-match-patch
diskcache
distlib
distributed
docopt
docutils
entrypoints
et-xmlfile
executing
fastapi
fasteners
filelock
first
flake8
flask
flatbuffers
fonttools
fsspec
future
futures
gast
gevent
glob2
graphviz
greenlet
grpcio
h11
h5py
heapq
hmac
holoviews
hpack
hyperlink
hyperscript
hypertable
idna
image
importlib
importlib-metadata
importlib-resources
imutils
inflection
iniconfig
intervals
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
itsdangerous
jaraco.classes
jaraco.collections
jaraco.functools
jaraco.text
jedi
jeepney
jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupytext
keyring
kiwisolver
lazy-loader
libcst
libclang
lightgbm
lime
llvmlite
locket
lxml
lz4
macholib
magic
mailchimp3
markdown
marko
marshmallow
matplotlib
mdurl
mechanize
mediapipe
memory-profiler
merge
mermaid
mesh
msgpack
multidict
multipledispatch
murmurhash
music21
mutagen
mypy
myrocksdb
natsort
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
networkx
nltk
nox
numba
numpy
numpydoc
nvidia-cublas-cu11
nvidia-cuda-cupti
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-nccl-cu11
nvidia-smi
oauth2client
oauthlib
odf
olefile
opencv-python
openpyxl
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
path
path.py
pathlib
pathspec
pbr
pexpect
phik
pickleshare
pillow
pip
pkginfo
pkgutil
pkgutil-resolve-name
platformdirs
plotly
pluggy
ply
poppler
portpicker
posix
posthog
pprint
praw
prompt-toolkit
protobuf
psutil
psycopg2
ptyprocess
py
py-airtable
py-cpuinfo
py-lz4
py-spy
py-xlsx
pyaes
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
pydot
pydriller
pyee
pyemd
pyexcel
pyexcel-xls
pyexcel-xlsx
pygobject
pygments
pygtrie
pyjwt
pylint
pylint-django
pylint-flask
pylint-plugin-utils
pymatgen
pymongo
pymssql
pynacl
pyodbc
pyopenssl
pyparsing
pyperclip
pyppeteer
pyproj
pyqt5
pyqt5-sip
pyqtwebengine
pyradiomics
pyreadline
pyre-check
pyre-extensions
pyresample
pyrfc3339
pyrsistent
pysftp
pysqlcipher3
pysqlite3
pystan
pyspark
pyspellchecker
pysphere
pysr
pystache
pyswagger
pytest
pytest-asyncio
pytest-cov
pytest-django
pytest-flask
pytest-html
pytest-metadata
pytest-xdist
python-apt
python-box
python-dateutil
python-dotenv
python-editor
python-engineio
python-frontmatter
python-firebase
python-gitlab
python-graphviz
python-jose
python-json-logger
python-language-server
python-lsp-black
python-lsp-rope
python-lsp-server
python-magic
python-memcached
python-multipart
python-slugify
python-snappy
python-telegram-bot
python-twitter
python-zcash
python3-openid
pythran
pytils
pytorch-lightning
pytz
pyu2f
pyxdg
pyyaml
pyzmq
qdarktheme
qtpy
regex
requests
requests-file
requests-ftp
requests-unixsocket
resampy
responses
retrying
rich
riot
rlp
rmats
rope
rsa
ruamel.yaml
ruamel.yaml.clib
rules
s3transfer
sacremoses
sagemaker
scikit-image
scikit-learn
scipy
screen
scripttest
seaborn
secretstorage
segment
semver
send2trash
sentence-transformers
sentencepiece
seqeval
serpy
setuptools
sh
shap
shellingham
shiboken2
shortuuid
show-in-file-manager
simplegeneric
simplejson
singledispatch
six
sklearn
smart-open
smmap
snakemake
snowballstemmer
sortedcontainers
sounddevice
soundfile
soupsieve
sparkpost
sphinx
sphinx-autobuild
sphinx-click
sphinx-copybutton
sphinx-design
sphinx-notfound-page
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spin
spnego
sqlparse
srsly
ssh-import-id
sshtunnel
stanfordcorenlp
starlette
statsmodels
stevedore
stopit
stravalib
streamlit
stringcase
struct
subprocess
subprocess32
summa
super-grace
supervisor
svgwrite
sympy
tables
tabulate
tacred
talon
tangods
tarfile
tblib
tempdir
tempfile
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
textblob
textdistance
textual
textwrap
threading
three-merge
tifffile
time
timeout-decorator
times
tinydb
titlecase
tkinter
tokenizers
toml
tomli
tomlkit
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
translation
transitions
trimesh
trio
triton
tsplib95
tty
tulip
tunigo
tweepy
twilio
twisted
txaio
typeguard
types
types-PyYAML
types-requests
types-setuptools
types-six
types-toml
types-urllib3
typing
typing-extensions
typing_inspect
typish
ujson
umsgpack
unicodecsv
unittest2
unixpath
update-checker
uritemplate
urllib3
usb
userpath
uvicorn
uuid
validators
varname
vega-datasets
venusian
versioneer
vertica-python
vobject
waitress
wand
wandb
warnings
watchdog
wcwidth
web
webencodings
websocket
websockets
werkzeug
wget
wheel
whichcraft
whitebox
widgetsnbextension
wikipedia
win-inet-pton
win32-setctime
winshell
winsound
wptools
wrapt
wsproto
xarray
xgboost
xlrd
xlsxwriter
xlwings
xml
xmltodict
yaml
yarl
yellowbrick
zerorpc
zipp
zlib
zope-event
zope-interface
zstd
zxing

```