mcp[cli]
httpx
python-dotenv
pydantic
asyncio
jsonschema
typing_extensions
uvicorn
fastapi
starlette
websockets
orjson
msgpack
bson
packaging
click
colorama
tenacity
loguru
cryptography
pyyaml
protobuf
grpcio
psutil
setuptools
wheel
install
pip
python-jose
cachelib
redis
hiredis
celery
flower
rq
kombu
amqp
pika
sqlalchemy
alembic
psycopg2-binary
mysql-connector-python
sqlite3
pymongo
motor
elasticsearch
opensearch-py
redis-py-cluster
kafka-python
confluent-kafka
zerorpc
thrift
pulsar-client
nats-py
zmq
pyzmq
pyodbc
cx-oracle
snowflake-connector-python
airflow
prefect
dagster
luigi
klu
metaflow
flytekit
temporalio
argparse
optuna
ray
paramiko
fabric
invoke
watchdog
pathtools
pyinotify
pywin32
wmi
psutil
pyinstaller
cx-freeze
py2exe
pyobjc
pyqt5
pyside2
tkinter
wxpython
kivy
pygame
panda3d
pyglet
arcade
renpy
sdl2
pyopengl
moderngl
vispy
matplotlib
seaborn
plotly
bokeh
altair
graphviz
pydot
networkx
igraph
graph-tool
snap
py2neo
rdflib
sparqlwrapper
owlready2
jena
virtuoso
blazegraph
stardog
neptune
tigergraph
janusgraph
gremlinpython
mongoengine
pymodm
sqlalchemy-utils
geoalchemy2
alembic
marshmallow
pydantic
msgpack
cattrs
orjson
ujson
simplejson
jsonschema
click
typer
argparse
fire
docopt
plac
prompt_toolkit
rich
textual
urwid
blessed
asciimatics
termcolor
colorama
tabulate
humanize
arrow
pendulum
dateutil
pytz
zoneinfo
icalendar
vobject
ics
exchangelib
zulu
maya
delorean
timeago
python-dateutil
pycountry
iso-codes
phonenumbers
stdnum
validators
voluptuous
cerberus
schema
fastjsonschema
djburger
marshmallow
pydantic
msgpack
cattrs
orjson
ujson
simplejson
jsonschema
click
typer
argparse
fire
docopt
plac
prompt_toolkit
rich
textual
urwid
blessed
asciimatics
termcolor
colorama
tabulate
humanize
arrow
pendulum
dateutil
pytz
zoneinfo
icalendar
vobject
ics
exchangelib
zulu
maya
delorean
timeago
python-dateutil
pycountry
iso-codes
phonenumbers
stdnum
validators
voluptuous
cerberus
schema
fastjsonschema
djburger