mcp[cli]
python-docx
pywin32
fastapi
uvicorn
httpx
tqdm
typer
rich
loguru
python-slugify
validators
pillow
python-magic
filetype
opencv-python
numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
torch
transformers
diffusers
onnx
onnxruntime
tesseract
pytesseract
pydantic
sqlalchemy
alembic
psycopg2
mysql-connector-python
pymssql
cx_Oracle
mongomock
redis
celery
rabbitmq
kafka-python
zookeeper
flask
django
fastapi
starlette
uvloop
gunicorn
waitress
docker
kubernetes
boto3
google-cloud-storage
azure-storage-blob
paramiko
fabric
pytest
unittest
coverage
flake8
black
isort
mypy
sphinx
mkdocs
pdoc3
twine
setuptools
wheel
poetry
pipenv
virtualenv
conda
cython
numba
cryptography
bcrypt
passlib
jinja2
mako
sqlalchemy
alembic
psycopg2
mysql-connector-python
pymssql
cx_Oracle
mongomock
redis
celery
rabbitmq
kafka-python
zookeeper
flask
django
fastapi
starlette
uvloop
gunicorn
waitress
docker
kubernetes
boto3
google-cloud-storage
azure-storage-blob
paramiko
fabric
pytest
unittest
coverage
flake8
black
isort
mypy
sphinx
mkdocs
pdoc3
twine
setuptools
wheel
poetry
pipenv
virtualenv
conda
cython
numba
cryptography
bcrypt
passlib
jinja2
mako